## Patient Entry Data Generation for the year

In [1]:
import pandas as pd
from faker import Faker
import random

In [2]:
# Initialize fake class to generate fake data
fake = Faker()

PatientID,PatientName,Age,Gender,AdmissionDate,DischargeDate,Diagnosis,Doctor,RoomNumber

In [3]:
# List of possible diagnoses and doctors
diagnoses = ['Pneumonia', 'Bronchitis', 'Diabetes', 'Asthma', 'Hypertension', 'Fracture', 'Appendicitis', 'Allergy', 'Heart Diseases', 'Stroke']
doctors = ['Dr. Widow', 'Dr. Stark', 'Dr. Hulk', 'Dr. Thor', 'Dr. Vison', 'Dr. Mogambo', 'Dr. Gangadhar', 'Dr. Clark', 'Dr. Tendulkar''Dr. Clark', 'Dr. Lewis', 'Dr. Walker']

In [5]:
# list to store patient information
data = []
for i in range(1,200001):
    patient_id = i
    patient_name = fake.name()
    age = random.randint(1,100)
    gender = random.choice(['Male','Female'])
    AdmissionDate = fake.date_this_year(before_today = True, after_today = False)
    DischargeDate = fake.date_between_dates(date_start = AdmissionDate, date_end = '+30d')
    Diagnosis = random.choice(diagnoses)
    Doctor = random.choice(doctors)
    RoomNumber = random.randint(1,1000)
    data.append([patient_id,patient_name,age,gender,AdmissionDate,DischargeDate,Diagnosis,Doctor,RoomNumber])

In [6]:
df = pd.DataFrame(data,columns=['PatientID','PatientName','Age','Gender','AdmissionDate','DischargeDate','Diagnosis','Doctor','RoomNumber'])
df.head()

,PatientID,PatientName,Age,Gender,AdmissionDate,DischargeDate,Diagnosis,Doctor,RoomNumber
0,1,Cody Stone,34,Male,2024-03-11,2024-04-12,Pneumonia,Dr. Thor,96
1,2,Pamela Gallegos,36,Male,2024-03-09,2024-04-17,Hypertension,Dr. TendulkarDr. Clark,133
2,3,Tanya Patel,83,Female,2024-05-13,2024-06-22,Pneumonia,Dr. Mogambo,478
3,4,Kenneth Villarreal,65,Female,2024-02-07,2024-04-14,Stroke,Dr. Widow,766
4,5,Michael Owen,37,Male,2024-04-08,2024-07-06,Hypertension,Dr. Walker,517

In [7]:
df.isnull().sum()

PatientID        0
PatientName      0
Age              0
Gender           0
AdmissionDate    0
DischargeDate    0
Diagnosis        0
Doctor           0
RoomNumber       0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.to_csv("Patient_entry_data",index = False)